In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read the dataset

startup_big_data = pd.read_csv('./big_raw.csv', encoding='latin-1')
startup_big_data.head()

# make a new copy 
cleaned_big_data = startup_big_data.copy()

/var/folders/j1/784j934j1sv08vg67yg2zkm00000gn/T/ipykernel_6464/1280365268.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  startup_big_data = pd.read_csv('./big_raw.csv', encoding='latin-1')

In [3]:
# Select the columns that we want to keep

columns_to_keep = ['name', 'state_code', 'city', 'market', 'founded_at', 'founded_month',
                   'founded_quarter', 'funding_rounds', 'first_funding_at', 'last_funding_at',
                   'funding_total_usd', 'venture', 'angel', 'round_A', 'round_B', 'round_C', 'round_D',
                   'status', 'country_code']

# Drop the columns not selected
cleaned_big_data = cleaned_big_data.drop(columns=[col for col in cleaned_big_data.columns if col not in columns_to_keep])

cleaned_big_data.head()

,name,market,funding_total_usd,status,country_code,state_code,city,funding_rounds,founded_at,founded_month,founded_quarter,first_funding_at,last_funding_at,venture,angel,round_A,round_B,round_C,round_D
0,#waywire,News,"17,50,000",acquired,USA,NY,New York,1,2012/6/1,Jun-12,2012-Q2,2012/6/30,2012/6/30,0,0,0,0,0,0
1,&TV Communications,Games,"40,00,000",operating,USA,CA,Los Angeles,2,NaN,NaN,NaN,2010/6/4,2010/9/23,4000000,0,0,0,0,0
2,'Rock' Your Paper,Publishing,"40,000",operating,EST,NaN,Tallinn,1,2012/10/26,Oct-12,2012-Q4,2012/8/9,2012/8/9,0,0,0,0,0,0
3,(In)Touch Network,Electronics,"15,00,000",operating,GBR,NaN,London,1,2011/4/1,Apr-11,2011-Q2,2011/4/1,2011/4/1,0,0,0,0,0,0
4,-R- Ranch and Mine,Tourism,"60,000",operating,USA,TX,Fort Worth,2,2014/1/1,Jan-14,2014-Q1,2014/8/17,2014/9/26,0,0,0,0,0,0

In [4]:
# Select the startups that are in USA

cleaned_big_data = cleaned_big_data[cleaned_big_data['country_code'] == 'USA']

# Reset the index of the dataframe
cleaned_big_data.reset_index(drop=True, inplace=True)

# Drop the 'country_code' column
cleaned_big_data = cleaned_big_data.drop('country_code', axis=1)

cleaned_big_data.head()

,name,market,funding_total_usd,status,state_code,city,funding_rounds,founded_at,founded_month,founded_quarter,first_funding_at,last_funding_at,venture,angel,round_A,round_B,round_C,round_D
0,#waywire,News,"17,50,000",acquired,NY,New York,1,2012/6/1,Jun-12,2012-Q2,2012/6/30,2012/6/30,0,0,0,0,0,0
1,&TV Communications,Games,"40,00,000",operating,CA,Los Angeles,2,NaN,NaN,NaN,2010/6/4,2010/9/23,4000000,0,0,0,0,0
2,-R- Ranch and Mine,Tourism,"60,000",operating,TX,Fort Worth,2,2014/1/1,Jan-14,2014-Q1,2014/8/17,2014/9/26,0,0,0,0,0,0
3,.Club Domains,Software,"70,00,000",NaN,FL,Oakland Park,1,2011/10/10,Oct-11,2011-Q4,2013/5/31,2013/5/31,7000000,0,0,7000000,0,0
4,004 Technologies,Software,-,operating,IL,Champaign,1,2010/1/1,Jan-10,2010-Q1,2014/7/24,2014/7/24,0,0,0,0,0,0

In [5]:
# Rename the columns

cleaned_big_data = cleaned_big_data.rename(columns={
    'name': 'Startup_name',
    'state_code': 'State_code',
    'city': 'City',
    'market': 'Category',
    'founded_at': 'Founded_at',
    'founded_month': 'Founded_month',
    'founded_quarter': 'Founded_quarter',
    'funding_rounds': 'Funding_rounds',
    'first_funding_at': 'first_funding_at',
    'last_funding_at': 'last_funding_at',
    'funding_total_usd': 'Funding_total_usd',
    'venture': 'Has_VC',
    'angel': 'Has_angel',
    'round_A': 'Has_roundA',
    'round_B': 'Has_roundB',
    'round_C': 'Has_roundC',
    'round_D': 'Has_roundD',
    'status': 'Status'
})

In [6]:
# Delete NA values

cleaned_big_data = cleaned_big_data.dropna()

# Delete rows with ' -   ' in the 'Funding_total_usd' column
cleaned_big_data = cleaned_big_data[cleaned_big_data['Funding_total_usd'] != ' -   ']

In [7]:
# Add two ages columns

# Calculate and add the ages columns
cleaned_big_data['Age_first_funding_year'] = cleaned_big_data['first_funding_at'].str[:4].astype(int) - cleaned_big_data['Founded_at'].str[:4].astype(int)
cleaned_big_data['Age_last_funding_year'] = cleaned_big_data['last_funding_at'].str[:4].astype(int) - cleaned_big_data['Founded_at'].str[:4].astype(int)

# Delete the specified columns from the dataframe
columns_to_delete = ['first_funding_at', 'last_funding_at']
cleaned_big_data = cleaned_big_data.drop(columns_to_delete, axis=1)

cleaned_big_data.head()

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,News,"17,50,000",acquired,NY,New York,1,2012/6/1,Jun-12,2012-Q2,0,0,0,0,0,0,0,0
2,-R- Ranch and Mine,Tourism,"60,000",operating,TX,Fort Worth,2,2014/1/1,Jan-14,2014-Q1,0,0,0,0,0,0,0,0
7,1-800-DOCTORS,Health and Wellness,"17,50,000",operating,NJ,Iselin,1,1984/1/1,Jan-84,1984-Q1,0,0,0,0,0,0,27,27
9,10-20 Media,E-Commerce,"20,50,000",operating,MD,Woodbine,4,2001/1/1,Jan-01,2001-Q1,0,0,0,0,0,0,8,10
10,1000 Corks,Search,"40,000",operating,OR,Lake Oswego,1,2008/1/1,Jan-08,2008-Q1,0,0,0,0,0,0,3,3

In [8]:
# Select the city we want to analyze

# Specify the cities to filter
cities_to_filter = ['San Francisco', 'New York', 'Mountain View', 'Palo Alto', 'Santa Clara', 'Austin',
                    'Seattle', 'San Mateo', 'Sunnyvale', 'San Jose', 'Cambridge', 'Menlo Park',
                    'Los Angeles', 'San Diego']

# Filter the dataframe for the specified cities
cleaned_big_data = cleaned_big_data[cleaned_big_data['City'].isin(cities_to_filter)]

# Print the number of rows for each city with aligned counts
city_counts = cleaned_big_data['City'].value_counts()
max_city_length = max(city_counts.index.map(len))

for city, count in city_counts.items():
    print(f"{city:{max_city_length}}  {count}")

# Reset the index
cleaned_big_data = cleaned_big_data.reset_index(drop=True)

print(cleaned_big_data.shape)
cleaned_big_data.head()

San Francisco  1952
New York       1719
Palo Alto      427
Austin         417
Seattle        410
Mountain View  365
Los Angeles    335
Cambridge      317
San Diego      305
Sunnyvale      259
San Jose       257
Santa Clara    230
San Mateo      219
Menlo Park     156
(7368, 18)

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,News,"17,50,000",acquired,NY,New York,1,2012/6/1,Jun-12,2012-Q2,0,0,0,0,0,0,0,0
1,1000memories,Curated Web,"25,35,000",acquired,CA,San Francisco,2,2010/7/1,Jul-10,2010-Q3,2520000,0,2520000,0,0,0,0,1
2,100Plus,Analytics,"12,50,000",acquired,CA,San Francisco,2,2011/9/16,Sep-11,2011-Q3,500000,0,0,0,0,0,0,0
3,1010data,Software,"3,50,00,000",operating,NY,New York,1,2000/1/1,Jan-00,2000-Q1,35000000,0,0,0,0,0,10,10
4,140 Proof,Advertising,"55,00,000",operating,CA,San Francisco,2,2010/1/11,Jan-10,2010-Q1,5500000,0,3000000,2500000,0,0,-1,1

In [9]:
# Unify 'Category'

# Define the categories and corresponding keywords
category_keywords = {
    'web': ['Network', 'Web'],
    'games': ['Games'],
    'hardware&software': ['Hardware', 'Software', 'Messaging'],
    'biotechnology': ['Biotechnology'],
    'analytics': ['Analytics'],
    'e-commerce': ['E-commerce'],
    'mobile': ['Mobile'],
    'advertising': ['Advertising'],
    'semiconductors': ['Semiconductors'],
    'security': ['Security'],
    'clean_technology': ['Clean_technology'],
    'public_relations': ['Public_relations'],
    'social_media': ['Social', 'News', 'Video'],
    'fashion': ['Fashion'],
    'travel': ['Travel'],
    'art&music': ['Art', 'Music'],
    'health&medical': ['Health', 'Medical'],
    'finance': ['Finance', 'Real Estate']
}

# Replace the 'Category' column values based on the renaming logic
replaced_categories = set()

for category, keywords in category_keywords.items():
    mask = cleaned_big_data['Category'].str.contains('|'.join(keywords), case=False, na=False)
    cleaned_big_data.loc[mask, 'Category'] = category
    replaced_categories.add(category)

# Filter out rows that were not replaced
cleaned_big_data = cleaned_big_data[cleaned_big_data['Category'].isin(replaced_categories)]

print(cleaned_big_data.shape)

cleaned_big_data.head()

(4729, 18)

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,social_media,"17,50,000",acquired,NY,New York,1,2012/6/1,Jun-12,2012-Q2,0,0,0,0,0,0,0,0
1,1000memories,web,"25,35,000",acquired,CA,San Francisco,2,2010/7/1,Jul-10,2010-Q3,2520000,0,2520000,0,0,0,0,1
2,100Plus,analytics,"12,50,000",acquired,CA,San Francisco,2,2011/9/16,Sep-11,2011-Q3,500000,0,0,0,0,0,0,0
3,1010data,hardware&software,"3,50,00,000",operating,NY,New York,1,2000/1/1,Jan-00,2000-Q1,35000000,0,0,0,0,0,10,10
4,140 Proof,advertising,"55,00,000",operating,CA,San Francisco,2,2010/1/11,Jan-10,2010-Q1,5500000,0,3000000,2500000,0,0,-1,1

In [10]:
# Unify 'Status'

# Define the condition for updating 'Status' column
condition = cleaned_big_data['Status'] == 'closed'

# Update 'Status' column based on the condition
cleaned_big_data['Status'] = np.where(condition, 0, 1)

cleaned_big_data.head()

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,social_media,"17,50,000",1,NY,New York,1,2012/6/1,Jun-12,2012-Q2,0,0,0,0,0,0,0,0
1,1000memories,web,"25,35,000",1,CA,San Francisco,2,2010/7/1,Jul-10,2010-Q3,2520000,0,2520000,0,0,0,0,1
2,100Plus,analytics,"12,50,000",1,CA,San Francisco,2,2011/9/16,Sep-11,2011-Q3,500000,0,0,0,0,0,0,0
3,1010data,hardware&software,"3,50,00,000",1,NY,New York,1,2000/1/1,Jan-00,2000-Q1,35000000,0,0,0,0,0,10,10
4,140 Proof,advertising,"55,00,000",1,CA,San Francisco,2,2010/1/11,Jan-10,2010-Q1,5500000,0,3000000,2500000,0,0,-1,1

In [11]:
# Unify 'Founded_month' 

# Create a new column 'Founded_datetime' with datetime format
cleaned_big_data['Founded_datetime'] = pd.to_datetime(cleaned_big_data['Founded_at'])

# Extract the month from 'Founded_datetime' and update 'Founded_month' column
cleaned_big_data['Founded_month'] = pd.to_datetime(cleaned_big_data['Founded_datetime']).dt.month

# Delete the 'Founded_datetime' column
cleaned_big_data = cleaned_big_data.drop('Founded_datetime', axis=1)

cleaned_big_data.head()

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,social_media,"17,50,000",1,NY,New York,1,2012/6/1,6,2012-Q2,0,0,0,0,0,0,0,0
1,1000memories,web,"25,35,000",1,CA,San Francisco,2,2010/7/1,7,2010-Q3,2520000,0,2520000,0,0,0,0,1
2,100Plus,analytics,"12,50,000",1,CA,San Francisco,2,2011/9/16,9,2011-Q3,500000,0,0,0,0,0,0,0
3,1010data,hardware&software,"3,50,00,000",1,NY,New York,1,2000/1/1,1,2000-Q1,35000000,0,0,0,0,0,10,10
4,140 Proof,advertising,"55,00,000",1,CA,San Francisco,2,2010/1/11,1,2010-Q1,5500000,0,3000000,2500000,0,0,-1,1

In [12]:
# Unify 'Has_VC', 'Has_angel', 'Round_A', 'Round_B', 'Round_C', 'Round_D'

# Update 'Has_VC' column where it is not equal to 0
cleaned_big_data.loc[cleaned_big_data['Has_VC'] != 0, 'Has_VC'] = 1

# Update 'Has_angel' column where it is not equal to 0
cleaned_big_data.loc[cleaned_big_data['Has_angel'] != 0, 'Has_angel'] = 1

# Update 'Round_A' column where it is not equal to 0
cleaned_big_data.loc[cleaned_big_data['Has_roundA'] != 0, 'Has_roundA'] = 1

# Update 'Round_B' column where it is not equal to 0
cleaned_big_data.loc[cleaned_big_data['Has_roundB'] != 0, 'Has_roundB'] = 1

# Update 'Round_C' column where it is not equal to 0
cleaned_big_data.loc[cleaned_big_data['Has_roundC'] != 0, 'Has_roundC'] = 1

# Update 'Round_D' column where it is not equal to 0
cleaned_big_data.loc[cleaned_big_data['Has_roundD'] != 0, 'Has_roundD'] = 1

cleaned_big_data.head()

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,social_media,"17,50,000",1,NY,New York,1,2012/6/1,6,2012-Q2,0,0,0,0,0,0,0,0
1,1000memories,web,"25,35,000",1,CA,San Francisco,2,2010/7/1,7,2010-Q3,1,0,1,0,0,0,0,1
2,100Plus,analytics,"12,50,000",1,CA,San Francisco,2,2011/9/16,9,2011-Q3,1,0,0,0,0,0,0,0
3,1010data,hardware&software,"3,50,00,000",1,NY,New York,1,2000/1/1,1,2000-Q1,1,0,0,0,0,0,10,10
4,140 Proof,advertising,"55,00,000",1,CA,San Francisco,2,2010/1/11,1,2010-Q1,1,0,1,1,0,0,-1,1

In [13]:
# Filter out rows where 'Age_first_funding_year' and 'Age_last_funding_year' are smaller than 0

cleaned_big_data = cleaned_big_data[(cleaned_big_data['Age_first_funding_year'] >= 0) & (cleaned_big_data['Age_last_funding_year'] >= 0)]

cleaned_big_data.head()

,Startup_name,Category,Funding_total_usd,Status,State_code,City,Funding_rounds,Founded_at,Founded_month,Founded_quarter,Has_VC,Has_angel,Has_roundA,Has_roundB,Has_roundC,Has_roundD,Age_first_funding_year,Age_last_funding_year
0,#waywire,social_media,"17,50,000",1,NY,New York,1,2012/6/1,6,2012-Q2,0,0,0,0,0,0,0,0
1,1000memories,web,"25,35,000",1,CA,San Francisco,2,2010/7/1,7,2010-Q3,1,0,1,0,0,0,0,1
2,100Plus,analytics,"12,50,000",1,CA,San Francisco,2,2011/9/16,9,2011-Q3,1,0,0,0,0,0,0,0
3,1010data,hardware&software,"3,50,00,000",1,NY,New York,1,2000/1/1,1,2000-Q1,1,0,0,0,0,0,10,10
5,15Five,hardware&software,"34,00,000",1,CA,San Francisco,3,2011/5/1,5,2011-Q2,0,1,0,0,0,0,1,3

In [14]:
# Export the new dataset

cleaned_big_data.to_csv('big.csv', index=False)